* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  background-color: #6c5ce7;
}

section {
  width: 40vh;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 12px 14px 14px -10px rgba(0, 0, 0, 0.33);
  box-shadow: 12px 14px 14px -10px rgba(0, 0, 0, 0.33);
}

header {
  background: rgb(252, 92, 125);
  background: linear-gradient(
    90deg,
    rgba(252, 92, 125, 1) 0%,
    rgba(106, 130, 251, 1) 99%
  );
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 38px;
  text-transform: uppercase;
  margin: 30px 0;
  padding: 10px 0;
  color: white;
}

input {
  outline: none;
}
button {
  outline: none;
  border: none;
  background: transparent;
}

footer {
  height: 13vh;
  background: rgb(252, 92, 125);
  background: linear-gradient(
    90deg,
    rgba(252, 92, 125, 1) 0%,
    rgba(106, 130, 251, 1) 99%
  );
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

span {
  display: inline;
}

.location-select {
  border: none;
  font-size: 15px;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  background: transparent;
}

.location-select {
  cursor: pointer;
}

.date-select {
  border: none;
  font-size: 15px;
  color: white;
  text-align: center;
  border-radius: 10px;
  background: transparent;
}

.date-select:hover {
  cursor: pointer;
}

.items {
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: auto;
}

.item {
  margin: auto;
  list-style: none;
}

.item__left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item__location {
  font-size: 13px;
  padding-left: 40px;
}
.item__price {
  margin-right: 12px;
}

.item__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 50px;
}

.item__row.clicked {
  font-style: italic;
  color: lightgray;
  transform: lotate(5deg);
}

.complete__btn {
  font-size: 25px;
  color: palevioletred;
  transition: all 100ms ease-in;
}

.complete__btn:hover {
  cursor: pointer;
  transform: rotate(10deg);
}

.complete__btn.clicked {
  color: lightgrey;
}

.list {
  height: 50vh;
  overflow-y: auto;
}

.input__box {
  display: flex;
}

.text__input {
  width: 70%;
  height: 30px;
  font-size: 20px;
  border: none;
}

.number__input {
  width: 30%;
  font-size: 18px;
  border: none;
  border-left: solid 1px black;
}

.add__btn {
  font-size: 35px;
  padding-top: 20px;
  color: white;
}

.add__btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 100ms ease-in;
}

.delete__btn {
  font-size: 18px;
}

.delete__btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #d63031;
  transition: all 100ms ease-in;
}

.delete__btn.clicked {
  color: lightgrey;
}

.divider {
  width: 80%;
  height: 1px;
  background-color: lightgrey;
  margin: auto;
}
