* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #6c5ce7;
}

section {
  width: 40vh;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 12px 14px 14px -10px rgba(0, 0, 0, 0.33);
  box-shadow: 12px 14px 14px -10px rgba(0, 0, 0, 0.33);
}

header {
  background: rgb(252, 92, 125);
  background: linear-gradient(
    90deg,
    rgba(252, 92, 125, 1) 0%,
    rgba(106, 130, 251, 1) 99%
  );
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 38px;
  text-transform: uppercase;
  margin: 30px 0;
  padding: 10px 0;
  color: white;
}

input {
  outline: none;
}
button {
  outline: none;
  border: none;
  background: transparent;
}

footer {
  background: rgb(252, 92, 125);
  background: linear-gradient(
    90deg,
    rgba(252, 92, 125, 1) 0%,
    rgba(106, 130, 251, 1) 99%
  );
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.location-select {
  border: none;
  font-size: 15px;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  background: transparent;
}

.location-select {
  cursor: pointer;
}

.date-select {
  border: none;
  font-size: 15px;
  color: white;
  text-align: center;
  border-radius: 10px;
  background: transparent;
}

.date-select:hover {
  cursor: pointer;
}

.text__input .items {
  overflow-y: auto;
  list-style: none;
  padding: 0;
}

.items {
  padding: 0;
  margin: auto;
}

.item {
  margin: auto;
  list-style: none;
}

.item__row {
  display: flex;
  justify-content: space-between;
  margin: 5px 50px;
}

.list {
  height: 50vh;
}

.text__input {
  width: 100%;
  height: 30px;
  font-size: 20px;
  font-weight: lighter;
  outline: none;
}

.fa-cart-plus {
  font-size: 35px;
  padding: 8px 0;
  color: white;
}

.fa-cart-plus:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 100ms ease-in;
}

.fa-trash-alt {
  font-size: 18px;
}

.fa-trash-alt:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #d63031;
  transition: all 100ms ease-in;
}

.divider {
  width: 80%;
  height: 1px;
  background-color: gray;
  margin: auto;
}
